<div class="card" style="width: 70%; margin: 2rem 15% 2rem 15%;">
	<h5 class="card-header">{{ book.title }}</h5>
	<div class="card-body">
		<h5 class="card-title">
			Authors: 
			{% for author in book.authors.all %}
				{{author.name|title}} {{author.surname|title}}
				{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</h5>
		<p> 
			Small desctiption:
			{{book.short_desc|truncatechars:50}} 
		</p>
		<a href="{{ book.get_absolute_url }}" class="btn btn-primary">Download</a>
	</div>
</div>